.main-card {
    background-color: #f0f0f0;
    width: 800px;
    position: relative;
    box-shadow: 5px 5px 10px 1px #868585;
    height: 150px;

}

.views {
    position: absolute;
    right: 10px;
    top: 10px;
}

.view-icon {
    height: 20px;
}

.timestamp {
    position: absolute;
    right: 10px;
    bottom: 10px;
}
.short-url{
    text-decoration: none;
    font-size: 20px;
    color: rgb(134, 143, 239);
}
.icon{
    height: 20px;
}
.target-url{
    text-decoration: none;
    font-size: 18px;
}